@using Vetsus.MVC.ViewModels;

@model IndexViewModel

@{
    ViewData["Title"] = "Usuarios";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.2/dist/bootstrap-table.min.css">

<partial name="_BreadCrumbPartial" model="Model.BreadCrumb" />

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@Model.PageTitle</h4>
            </div>
            <div class="card-body">
                <div class="d-md-flex d-block mb-3 pb-3">
                    <div class="card-action card-tabs mb-md-0 mb-3  mr-auto">
                    </div>
                    <div>
                        <a href="javascript:void(0)" onclick="addUser()" class="btn btn-primary rounded">
                            <i class="fa fa-plus mr-2 fa-1x" aria-hidden="true"></i>Nuevo usuario
                        </a>
                    </div>
				</div>
                <div class="table-responsive">
                    <table id="tblUsers"
                           class="table table-responsive-md"
                           data-ajax="ajaxRequest"
                           data-side-pagination="server"
                           data-pagination="true"
                           data-page-list="[10, 25, 50, 100]">
                        <thead>
                            <tr>
                                <th data-field="email">Email</th>
                                <th data-field="username">Username</th>
                                <th data-field="role">Rol</th>
                                <th data-field="id" data-formatter="actionFormatter">Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="lblTitleModal" class="modal-title">Nuevo usuario</h5>
                <button type="button" class="close" onclick="closeModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="userModalForm">
                    <input type="hidden" id="hdUserId" name="hdUserId" value="">
                    <div class="form-group">
                        <label class="text-black font-w500" for="email">Email</label>
                        <input id="email" name="email" type="email" class="form-control input-rounded">
                    </div>
                    <div class="form-group">
                        <label class="text-black font-w500" for="username">Username</label>
                        <input id="username" name="username" type="text" class="form-control input-rounded">
                    </div>
                    <div class="form-group">
                        <label class="text-black font-w500" for="ddRole">Rol</label>
                        <select id="ddRole" name="ddRole" class="form-control default-select">
                            <option value="">-- Seleccione --</option>
                            <option value="Admin">Administrador</option>
                            <option value="User">Usuario</option>
                            <option value="Visitor">Invitado</option>
                        </select>
                    </div>
                    <div id="fgPwd" class="form-group">
                        <label class="text-black font-w500">Contraseña</label>
                        <input id="password" name="password" type="text" class="form-control input-rounded">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="addOrEditUserAction()">Guardar</button>
                        <button type="button" class="btn btn-light" onclick="closeModal()">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <!-- Jquery Validation -->
    <script src="~/vendor/jquery-validation/jquery.validate.min.js"></script>

    <!-- Bootstrap Table -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.2/dist/bootstrap-table.min.js"></script>

    <script>
        const USER_ID = '@Html.Raw(ViewBag.UserId)';
    </script>
    <script src="~/app/js/user.js"></script>
}