@{
    ViewData["Title"] = "Usuarios";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.2/dist/bootstrap-table.min.css">

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">Gestión</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">Usuarios</a></li>
    </ol>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Listado de usuarios</h4>
            </div>
            <div class="card-body">
                <div class="d-md-flex d-block mb-3 pb-3">
                    <div class="card-action card-tabs mb-md-0 mb-3  mr-auto">
                    </div>
                    <div>
                        <a href="javascript:void(0)" onclick="addUser()" class="btn btn-primary rounded">
                            <i class="fa fa-plus mr-2 fa-1x" aria-hidden="true"></i>Nuevo usuario
                        </a>
                        @*<a href="javascript:void(0)" data-toggle="modal" data-target="#addUserModal" class="btn btn-primary rounded"><i class="fa fa-user mr-2 scale5" aria-hidden="true"></i>+ New Contact</a>*@
                    </div>
				</div>
                <div class="table-responsive">
                    <table id="tblUsers"
                           class="table table-responsive-md"
                           data-ajax="ajaxRequest"
                           data-side-pagination="server"
                           data-pagination="true"
                           data-page-list="[10, 25, 50, 100]">
                        <thead>
                            <tr>
                                <th data-field="email">Email</th>
                                <th data-field="username">Username</th>
                                <th data-field="id" data-formatter="actionFormatter">Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addUserModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="lblTitleModal" class="modal-title">Nuevo usuario</h5>
                <button type="button" class="close" onclick="closeModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="text-black font-w500">Email</label>
                        <input type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="text-black font-w500">Username</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="text-black font-w500">Contraseña</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary">Guardar</button>
                        <button type="button" class="btn btn-light" onclick="closeModal()">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.23.2/dist/bootstrap-table.min.js"></script>
    <script src="~/custom/user.js"></script>
}