@using Vetsus.MVC.ViewModels;

@model BreadCrumbViewModel

<div class="page-titles">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0)">@Model.Title</a></li>
        <li class="breadcrumb-item active"><a href="javascript:void(0)">@Model.Subtitle</a></li>
    </ol>
</div>
