
<div class="modal fade" id="userModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="lblTitleModal" class="modal-title">Nuevo usuario</h5>
                <button type="button" class="close" onclick="closeModal()">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="userModalForm">
                    <input type="hidden" id="hdUserId" name="hdUserId" value="">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="text-black font-w500" for="email">Nombres</label>
                            <input id="firstname" name="firstname" type="text" class="form-control input-rounded">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="text-black font-w500" for="username">Apellidos</label>
                            <input id="lastname" name="lastname" type="text" class="form-control input-rounded">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="text-black font-w500" for="email">Email</label>
                            <input id="email" name="email" type="email" class="form-control input-rounded">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="text-black font-w500" for="username">Username</label>
                            <input id="username" name="username" type="text" class="form-control input-rounded">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="text-black font-w500" for="ddRole">Rol</label>
                            <select id="ddRole" name="ddRole" class="form-control default-select">
                                <option value="">-- Seleccione --</option>
                                <option value="Admin">Administrador</option>
                                <option value="User">Usuario</option>
                                <option value="Visitor">Invitado</option>
                            </select>
                        </div>
                        <div id="fgPwd" class="form-group col-md-6">
                            <label class="text-black font-w500">Contraseña</label>
                            <input id="password" name="password" type="text" class="form-control input-rounded">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addOrEditUserAction()">Guardar</button>
                <button type="button" class="btn btn-light" onclick="closeModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>